*{
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.pl,.fl{
  float: left;
}
.pr,.fr{
  float: right;
}
.clearFix:after {clear: both;display: block;content: "";height: 0;visibility: hidden;}
.container{
  width: 1200px;
  margin: 0px auto;
}
.m-t10{
  margin-top: 10px;
}
.m-t20{
  margin-top: 20px;
}
.m-t30{
  margin-top: 30px;
}
.m-t40{
  margin-top: 40px;
}
.m-b10{
  margin-bottom: 10px;
}
.m-b20{
  margin-bottom: 20px;
}
.m-b30{
  margin-bottom: 30px;
}
.m-b40{
  margin-bottom: 40px;
}
.ml5 {
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
